$background:black;


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

$bk_color_a:#c26592;


body{

    height:100vh;
    width:100%;
    padding:20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    background-color: $background;


    .maincontent{
        flex: 1;
        height:100%;
        width:100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        position: relative;

        gap: 10px;


        .box_x{
            width:100%;
            height:100%;
            position: relative;
            // border: 1px solid ghostwhite;
        }
 
        .box_xa{
            flex: 10%;
        }

        .box_xb{
            flex: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row;
            gap:10px;

            .boxs{
                border-radius:20px;
                height:100%;
                // border: 1px solid ghostwhite;
            }

            .boxs_a{
                position: relative;
                flex: 25%;
                background-color: #c4294a;
                padding:20px;
            }
            .boxs_b{
                position: relative;
                flex: 75%;
                background-color: #91eea8;
                padding:20px;
            }


            @media(max-width:768px) {
                flex-flow: column;
                width:100%;

                .boxs_a{
                    width:100%;
                }
                .boxs_b{
                    width:100%;
                }
            }
        }

        .box_xc{
            flex: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row;
           gap:10px;

            .boxs{
                border-radius:20px;
                width:100%;
                height:100%;
                // border: 1px solid ghostwhite;
            }

            .boxs_c{
                position: relative;
                flex: 50%;
                background-color: #ff5722;
                padding:20px;
            }
            .boxs_d{
                position: relative;
                flex: 50%;
                background-color: #fea200;
                padding:20px;
            }

            
            @media(max-width:768px) {
                flex-flow: column;
                width:100%;


                .boxs_c{
                    width:100%;
                    order: 2;

                }
                .boxs_d{
                    width:100%;
                    order: 1;

                }
            }
        }

    }






    .content{
        flex:.40;
        height:100%;
        width:100%;
        padding-left:10px;
        // padding:10px;

        .box_a{
            height:100%;
            width:100%;
            border-radius:20px;
            background-color:$bk_color_a;
            // border: 7px solid $background;
        }
    }







    @media(max-width:1224px) {
        flex-flow: column;
        height:200vh;
        width:100%;
    
        .maincontent{
            width:100%;
            height:100%;
            
            .box_x{
                height:200px !important;
            }

            .box_xa{
                height:200vh;
            }
        }


        .content{
            width:100%;
            padding:15px 0px 0px 0px;

            .box_a{
                padding:0;
                height:70vh;
                width:100%;
                border-radius:20px;
                background-color:$bk_color_a;
                // border: 7px solid $background;
            }
        }
 
    }





}