@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
.saira-stencil-one-regular {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 115vh;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  background-color: black;
}
body .maincontent {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;
  gap: 10px;
}
body .maincontent .box_x {
  width: 100%;
  height: 100%;
  position: relative;
}
body .maincontent .box_xa {
  flex: 10%;
}
body .maincontent .box_xb {
  flex: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
body .maincontent .box_xb .boxs {
  border-radius: 20px;
  height: 100%;
}
body .maincontent .box_xb .boxs_a {
  position: relative;
  flex: 25%;
  background-color: #c4294a;
  padding: 20px;
}
body .maincontent .box_xb .boxs_a .icon_desing {
  position: absolute;
  top: 3%;
  left: 5%;
  width: 30%;
}
body .maincontent .box_xb .boxs_a .xdot {
  position: absolute;
  top: 25%;
  left: 0%;
  opacity: 0.5;
  width: 100%;
}
body .maincontent .box_xb .boxs_a .sapatos {
  width: 85%;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 99;
}
@media (max-width: 1476px) {
  body .maincontent .box_xb .boxs_a .sapatos {
    width: 95%;
    left: 5%;
  }
}
body .maincontent .box_xb .boxs_a .center_text {
  color: black;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 165px;
  letter-spacing: 20px;
  font-size: 220px;
  position: absolute;
  top: 15%;
  left: 10%;
  opacity: 0.5;
}
@media (max-width: 1706px) {
  body .maincontent .box_xb .boxs_a .center_text {
    left: 6%;
  }
}
@media (max-width: 1618px) {
  body .maincontent .box_xb .boxs_a .center_text {
    left: 3%;
  }
}
@media (max-width: 1562px) {
  body .maincontent .box_xb .boxs_a .center_text {
    left: 0%;
  }
}
body .maincontent .box_xb .boxs_a h2 {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: ghostwhite;
}
body .maincontent .box_xb .boxs_b {
  position: relative;
  flex: 70%;
  background-color: #91eea8;
  padding: 20px;
  border-radius: 20px 20px 0px 20px;
  z-index: 99;
}
body .maincontent .box_xb .boxs_b .layer_0 {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9;
}
body .maincontent .box_xb .boxs_b .layer_0 .spatos_na_green {
  width: 60%;
  position: absolute;
  bottom: 20%;
  right: 5%;
  z-index: 9;
  transition: 0.3s;
}
body .maincontent .box_xb .boxs_b .layer_1 {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 8;
}
body .maincontent .box_xb .boxs_b .layer_1 .splash {
  width: 60%;
  position: absolute;
  bottom: 10%;
  right: -70px;
  transform: rotate(-30deg);
}
body .maincontent .box_xb .boxs_b .overlap {
  position: absolute;
  bottom: -100px;
  border-left: 10px solid black;
  border-right: 10px solid black;
  border-bottom: 10px solid black;
  border-radius: 0px 0px 20px 20px;
  right: -10px;
  background-color: #91eea8;
  width: 140px;
  height: 100px;
  z-index: 99;
}
body .maincontent .box_xb .boxs_b .overlap .cuver-a {
  color: #91eea8;
  position: absolute;
  top: -2px;
  left: -22px;
  transform: rotate(90deg);
}
body .maincontent .box_xb .boxs_b .overlap .cuver-b {
  color: black;
  position: absolute;
  top: 8px;
  left: -32px;
  transform: rotate(90deg);
}
body .maincontent .box_xb .boxs_b .overlap .cuver-c {
  color: black;
  position: absolute;
  bottom: -32px;
  right: 2px;
  transform: rotate(90deg);
}
body .maincontent .box_xb .boxs_b .overlap .cuver-c::before {
  position: absolute;
  top: -10px;
  left: -9px;
  width: 17px;
  height: 17px;
  background-color: black;
  z-index: 999;
  border-radius: 50%;
  content: "";
  clear: both;
}
@media (max-width: 768px) {
  body .maincontent .box_xb {
    flex-flow: column;
    width: 100%;
    height: 100%;
  }
  body .maincontent .box_xb .boxs_a {
    width: 100%;
    height: 100%;
  }
  body .maincontent .box_xb .boxs_b {
    width: 100%;
    height: 100%;
    position: relative;
  }
  body .maincontent .box_xb .boxs_b .hr {
    position: relative;
    background-color: black;
    top: 0;
    left: -200px;
    width: 1px;
    height: 100vh;
    display: none;
  }
}
body .maincontent .box_xc {
  flex: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
body .maincontent .box_xc .boxs {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
body .maincontent .box_xc .boxs_c {
  position: relative;
  flex: 50%;
  background-color: #ff5722;
  padding: 20px;
}
body .maincontent .box_xc .boxs_d {
  position: relative;
  flex: 50%;
  background-color: #fea200;
  padding: 20px;
}
@media (max-width: 768px) {
  body .maincontent .box_xc {
    flex-flow: column;
    width: 100%;
    height: 100%;
  }
  body .maincontent .box_xc .boxs_c {
    width: 100%;
    order: 2;
  }
  body .maincontent .box_xc .boxs_d {
    width: 100%;
    order: 1;
  }
}
body .content {
  flex: 0.4;
  height: 100%;
  width: 100%;
  padding: 0px 10px 0px 10px;
}
body .content .box_a {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #c26592;
}
@media (max-width: 1224px) {
  body {
    flex-flow: column;
    height: 100%;
    width: 100%;
    display: none;
  }
  body .maincontent {
    width: 100%;
    height: 100%;
  }
  body .maincontent .box_x {
    width: 100%;
    height: 100%;
  }
  body .maincontent .box_xb {
    width: 100%;
    height: 100%;
  }
  body .maincontent .box_xb .boxs_b .hr {
    display: block;
  }
  body .content {
    width: 100%;
    padding: 15px 0px 0px 0px;
  }
  body .content .box_a {
    padding: 0;
    height: 100vh;
    width: 100%;
    border-radius: 20px;
    background-color: #c26592;
  }
}

.text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=app.css.map */