$background:black;
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

.saira-stencil-one-regular {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

$bk_color_a:#c26592;


body{

    height:115vh;
    width:100%;
    padding:20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    background-color: $background;


    .maincontent{
        flex: 1;
        height:100%;
        width:100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        position: relative;

        gap: 10px;


        .box_x{
            width:100%;
            height:100%;
            position: relative;
            // border: 1px solid ghostwhite;
        }
 
        .box_xa{
            flex: 10%;
        }

        .box_xb{
            flex: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row;
            gap:10px;

            .boxs{
                border-radius:20px;
                height:100%;
                // border: 1px solid ghostwhite;
            }




            .boxs_a{
                position: relative;
                flex: 25%;
                background-color: #c4294a;
                padding:20px;

                .icon_desing{
                    position: absolute;
                    top:3%;
                    left:5%;
                    width:30%;
                }

                .xdot{
                    position: absolute;
                    top:25%;
                    left:0%;
                    opacity:.5;
                    width:100%;
                }
 

                    .sapatos{
                        width:85%;
                        position: absolute;
                        top:20%;
                        left:10%;
                        z-index:99;

                        

                        @media (max-width:1476px) {
                            width:95%;
                            left:5%;
                        }
                    }

                    .center_text{
                        color: black;
                        font-weight: bolder;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        line-height:165px;
                        letter-spacing:20px;
                        font-size: 220px;
                        position: absolute;
                        top:15%;
                        left:10%;
                        opacity:.5;

                        @media (max-width:1706px) {
                            left:6%;
                        }

                        @media (max-width:1618px) {
                            left:3%;
                        }

                        @media (max-width:1562px) {
                            left:0%;
                        }
                        
                    }

                    
    
                    h2{
                        position: absolute;
                        bottom:5%;
                        left:0;
                        width:100%;
                        line-height: 40px;
                        text-align: center;
                        font-size: 50px;
                        text-transform: uppercase;
                        color: ghostwhite;
                }

                
            }



            .boxs_b{
                position: relative;
                
                flex: 70%;
                background-color: #91eea8;
                padding:20px;

                border-radius:20px 20px 0px 20px;
                z-index:99;




                .layer_0{
                    top:0;
                    left:0;
                    position: absolute;
                    width:100%;
                    height:100%;
                    overflow: hidden;
                    z-index:9;

                    .spatos_na_green{
                        width:60%;
                        position: absolute;
                        bottom:20%;
                        right:5%;
                        z-index:9;
                        transition: .3s;
                    }
                }
     

                .layer_1{
                    top:0;
                    left:0;
                    position: absolute;
                    width:100%;
                    height:100%;
                    overflow: hidden;
                    z-index:8;


                    .splash{
                        width:60%;
                        position: absolute;
                        bottom:10%;
                        right:-70px;
                        transform: rotate(-30deg);
                    }
                }




                .overlap{
                    position:absolute;
                    bottom:-100px;
                    border-left:10px solid black;
                    border-right:10px solid black;
                    border-bottom: 10px solid black;
                    border-radius: 0px 0px 20px 20px;
                    right:-10px;
                    background-color: #91eea8;
                    width:140px;
                    height:100px;
                    z-index:99;

                    .cuver-a{
                        color: #91eea8;
                        position: absolute;
                        top:-2px;
                        left:-22px;
                        transform: rotate(90deg);
                    }

                    .cuver-b{
                        color: black;
                        position: absolute;
                        top: 8px;
                        left:-32px;
                        transform: rotate(90deg);
                    }

                    .cuver-c{

                        &::before{
                            position: absolute;
                            top:-10px;
                            left:-9px;
                            width:17px;
                            height:17px;
                            background-color: black;
                            z-index:999;
                            border-radius: 50%;
                            content: "";
                            clear: both;
                        }
                        
                        color: black;
                        position: absolute;
                        bottom:-32px;
                        right:2px;
                        transform: rotate(90deg);
                    }
                }
            }


            @media(max-width:768px) {
                flex-flow: column;
                width:100%;
                height:100%;

                .boxs_a{
                    width:100%;
                    height:100%;

                }
                .boxs_b{
                    width:100%;
                    height:100%;

                    position: relative;
    
                    .hr{
                        position: relative;
                        background-color: black;
                        top:0;
                        left:-200px;
                        width:1px;
                        height:100vh;
                        display: none;
                    }
                }
            }
        }

        .box_xc{
            flex: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row;
           gap:10px;

            .boxs{
                border-radius:20px;
                width:100%;
                height:100%;
                // border: 1px solid ghostwhite;
            }

            .boxs_c{
                position: relative;
                flex: 50%;
                background-color: #ff5722;
                padding:20px;
            }
            .boxs_d{
                position: relative;
                flex: 50%;
                background-color: #fea200;
                padding:20px;
            }

            
            @media(max-width:768px) {
                flex-flow: column;
                width:100%;
                height:100%;


                .boxs_c{
                    width:100%;
                    order: 2;

                }
                .boxs_d{
                    width:100%;
                    order: 1;

                }
            }
        }


      

    }






    .content{
        flex:.40;
        height:100%;
        width:100%;
        padding:00px 10px 0px 10px;
        // padding:10px;

        .box_a{
            height:100%;
            width:100%;
            border-radius:20px;
            background-color:$bk_color_a;
            // border: 7px solid $background;
        }
    }







    @media(max-width:1224px) {
        flex-flow: column;
        height:100%;
        width:100%;
        display: none;
    
        .maincontent{
            width:100%;
            height:100%;
            
            
            .box_x{
                width:100%;
                height:100%;
            }

            .box_xb{
                width:100%;
                height:100%;
                .boxs_a{

                }
                .boxs_b{
                    .hr{
                        display:block;
                    }
                }
            }
 
        }


        .content{
            width:100%;
            padding:15px 0px 0px 0px;

            .box_a{
                padding:0;
                height:100vh;
                width:100%;
                border-radius:20px;
                background-color:$bk_color_a;
                // border: 7px solid $background;
            }
        }
 
    }





}












 
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 
/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  