$background:black;


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

$bk_color_a:#c26592;


body{

    height:100vh;
    width:100%;
    padding:20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    background-color: $background;


    .maincontent{
        flex: 1;
        height:100%;
        width:100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
 
        .box_x{
            height:100%;
            width:100%;
            // border: 1px solid ghostwhite;
        }

        .box_x:nth-child(1){
            flex: 15%;
        }
        
        .box_x:nth-child(2){
            flex: 90%;
            position: relative;
            height:100%;
            width:100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row;
            flex-wrap: wrap;
            
            .box_c{
                width:100%;
                border: 5px solid $background;
                border-radius:20px;
                position: relative;

                .content_inside{
                    height:100%;
                    width:100%;
                    // border: 1px solid ghostwhite;
                }

            }

            $top_height:65%;
            $bottom_height:35%;

            .box_c:nth-child(1){
                flex:25%;
                height:$top_height;
                background-color: #c4294a;


                .content_inside{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-flow: column;
                    padding:20px;
                    border-radius:20px;
                    img{
                        width:80%;
                    }

                    h1{
                        text-align: center;
                        font-weight: bold;
                        line-height:35px;
                        color:ghostwhite;
                        font-size: 40px;
                    }
                }
            }
            .box_c:nth-child(2){
                flex:75%;
                height:$top_height;
                background-color: #91eea8;
                border-radius:20px 20px 0px 20px;

                .content_inside{
                    border-radius:20px 20px 0px 20px;
                }

                .overlap{
                    position: absolute;
                    background-color: #91eea8;
                    bottom:-150px;
                    border-left: 10px solid black;
                    border-right: 10px solid black;
                    border-bottom: 10px solid black;


                    right:-10px;
                    width:210px;
                    height:150px;
                    z-index:99;
                    border-radius:0px 0px 25px 25px;

                    .cricle_cover_a{
                         position: absolute;
                         top:-2px;
                         left:-26px;
                         transform: rotate(90deg);
                         padding: auto;
                         color:#91eea8;
                    }

                    .cricle_cover_b{
                        position: absolute;
                        top:8px;
                        left:-32px;
                        transform: rotate(90deg);
                        padding: auto;
                        color:black;
                   }
                    .cricle_cover_c{
                        position: absolute;
                        right:2px;
                        bottom:-41.4px;
                        transform: rotate(90deg);
                        padding: auto;
                        color:black;
                    }

                    .cricle_cover_d{
                        position: absolute;
                        right:-8px;
                        bottom:-18px;
                        border-radius: 50%;
                        padding: auto;
                        background-color: black;
                        width:20px;
                        height:20px;
                    }
                }
            }

            .box_c:nth-child(3){
                flex:50%;
                height:$bottom_height;
                background-color: #ff5722;
                border-radius:20px;
            }

            .box_c:nth-child(4){
                flex:50%;
                height:$bottom_height;
                background-color: #fea200;
                border-radius:20px;
            }

        }

    }






    .content{
        flex:.45;
        height:100%;
        width:100%;
        

        .box_a{
            height:100%;
            width:100%;
            border-radius:20px;
            background-color:$bk_color_a;
            border: 7px solid $background;
        }
    }







}